body{
    font-family: "Times New Roman", sans-serif;
    background:#F0F0F0;
}

h1 {
    color: darkgreen;
    font-family: "Helvetica", sans-serif;
}

h2 {
    color: green;
    font-family: Arial, sans-serif;
}

a:hover{
    font-weight: 1000;
    text-decoration: underline overline;
    background: lightcyan;
    color:seagreen;
    transform:rotate(100deg)
}
a{
    color:seagreen;
    text-decoration:underline;
}
a:visited{
    color:blue;
}

ol li {
    list-style-type: decimal-leading-zero;
}

.wise-quote {
    color: coral;
    font-style: oblique;
}

.link-list {
    text-align: center;
}

menu.nav {
    padding-left:0;
    background:darkgreen;
    text-align: center;
}
menu.nav li{
    display:inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
menu.nav li:hover{
    background:darkcyan;
}
menu.nav li a{
    color:white;
}
menu.nav li a:hover{
    color:white;
    background:darkcyan;
}

menu.socials {
    padding-left:0;
    background:green;
    text-align: center;
}
menu.socials li{
    display:inline-block;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
menu.socials li:hover{
    background:darkcyan;
}
menu.socials li a{
    color:white;
}
menu.socials li a:hover{
    color:white;
    background:darkcyan;
}

.image-box {
    border: 10px ridge red;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.image-box p {
    text-decoration: underline overline;
    text-align: center;
}

.image-box img {
    border: red;
    align-self: center;
}

code{
    color:white;
}
div.code-block{
    background:black;
    padding-left:0;
}